@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Reddit Sans", sans-serif !important;
}

.table-responsive {
    transform: rotateX(180deg);
}

.table-responsive > .table {
    transform: rotateX(180deg);
}